
h1 {
  color: #3f51b5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-larger;
  margin: 10px;
}
.gesture-matcher {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin: 10px;
}

.gestures {
  display: flex;
  justify-content: space-between;
}

.modification-tiles {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  gap: 20px;
}

.modification-indv-tile {
  margin: 10px;
}