
.card{
  background-color: white;
}
h1 {
  color: blue;
}
.gesture-matcher {
  color: red;
}

.gestures {
  display: flex;
  justify-content: space-between;
}

.modification-tiles {
  //display: flex;
  justify-content: space-between;
}
